.MessageFloatsContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -1;
  // overflow-x: hidden;
}

.MessageFloatsContainer__item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  animation: animateCloud 18s linear infinite;
}